@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  /* fallback for old browsers */
  background: rgb(54, 54, 54);
}

.gradient-custom {
  /* fallback for old browsers */
  background: rgb(54, 54, 54);
}

/* custom styles */

.custom-primary {
  color: rgb(180, 128, 211);
}

.custom-secondary {
  text-decoration: none;
  color: rgb(162, 53, 224);
}
.custom-secondary:hover {
  color: rgb(118, 9, 182);
}

/* button */
.custom-primary-button {
  color: rgb(180, 128, 211);
}

/* link */
.custom-secondary {
  text-decoration: none;
  color: rgb(162, 53, 224);
}
.custom-secondary:hover {
  text-decoration: none;
  color: rgb(118, 9, 182);
}

.topbar_item {
  margin-top: 3%;
  margin-right: 50px;
}

.topbar_item a {
  width: 100px;
  text-decoration: none;
  padding: 7px;
  border-radius: 10px;
  color: rgb(248, 248, 248);
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
