.weather-wrapper {
  background-color: #8095e0;
  border-radius: 20px;
  width: 500px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.astro-home {
    width: 300px;
}

.user-text {
    font-size: 40px;
}

.wave-back {
  width: 100%;
  background-size: cover;
}

/* no profile message */
.no-profile p {
  color: rgb(219, 219, 219);
}

.no-profile p span {
  font-weight: bold;
  color: rgb(173, 32, 255);
}

.no-profile button {
  background-color: rgb(180, 128, 211);
}

.no-profile button:hover {
  background-color: rgb(118, 9, 182);
}

.no-profile button:hover strong {
  text-shadow: none;
}

.no-profile button strong {
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

/* responsive */

@media screen and (max-width: 1200px) {
    .astro-home {
      width: 260px;
    }
    .user-text {
        font-size: 35px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .astro-home {
      width: 200px;
    }
    .user-text {
        font-size: 30px;
    }
    .main-text {
      font-size: 28px;
    }
  }
  
