.temp-wrapper {
  border-radius: 10px;
}

.temp {
  font-weight: bold;
  font-size: 60px;
  color: rgb(82, 207, 33);
}

button {
  border-radius: 10px;
  border: none;
  text-decoration: none;
  overflow: hidden;
  padding: 10px;
  transition: all 0.4s
}

button:hover {
    background-color: rgb(206, 206, 206);
}
