@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  /* fallback for old browsers */
  background: rgb(54, 54, 54);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(54, 54, 54),
    rgb(39, 39, 39)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(
    to right,
    rgb(54, 54, 54),
    rgb(39, 39, 39)
  );
}

.gradient-custom {
  /* fallback for old browsers */
  background: rgb(54, 54, 54);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(54, 54, 54),
    rgb(39, 39, 39)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(
    to right,
    rgb(54, 54, 54),
    rgb(39, 39, 39)
  );
}

/* custom styles */

.custom-primary {
  color: rgb(180, 128, 211);
}

.custom-secondary {
  text-decoration: none;
  color: rgb(162, 53, 224);
}
.custom-secondary:hover {
  color: rgb(118, 9, 182);
}

/* button */
.custom-primary-button {
  color: rgb(180, 128, 211);
}

/* link */
.custom-secondary {
  text-decoration: none;
  color: rgb(162, 53, 224);
}
.custom-secondary:hover {
  text-decoration: none;
  color: rgb(118, 9, 182);
}

.topbar_item {
  margin-top: 3%;
  margin-right: 50px;
}

.topbar_item a {
  width: 100px;
  text-decoration: none;
  padding: 7px;
  border-radius: 10px;
  color: rgb(248, 248, 248);
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 72px;
  color: #ffffff;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 144px;
  color: #7e30ad;
  text-shadow: 2px 0 0 rgb(255, 255, 255), -2px 0 0 #fff, 0 2px 0 #fff,
    0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

.logo {
  width: 17%;
}
.astro {
  padding-top: 20px;
  width: 15%;
  transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

/* animations */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* responsive */

@media screen and (max-width: 1200px) {
  .logo {
    width: 150px;
  }
  .astro {
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 80px;
  }
  .logo {
    width: 150px;
  }
  .astro {
    width: 150px;
  }
}
